*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
body{
    display: flex;
    justify-content: center;
    background-color: #292929;
    height: 987px;
}
.container img{
    width: 70px;
    position: relative;
}
img{
    margin-left: 20px;
    margin-top: 20px;
}
.container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 80px;
    border: solid 1px rgb(128, 124, 124);
    border-radius: 10px;
    width: 600px;
    height: 800px;
    padding: 30px;
}
.container h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    position: absolute;
}
.container .oueimg{
    bottom: 90px;
    position: absolute;
    display: inline-block;
}
.container .oueimg h3{
    font-family: cursive;
    font-size: 30px;
    position: relative;
    bottom: 20px;
    left: 40%;
}
.container .oueimg p{
    font-size: 25px;
    position: relative;
    right: 30px;
    color: #000000;
}
form{
    margin-top: 50px;
}
input[type="password"],
input[type="email"] {
    width: 110%;
    padding: 10px;
    height: 70px;
    position: relative;
    right: 3%;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid #292929;
    border-radius: 5px;
    font-size: 20px;
}
label {
    font-size: 25px;
    display: block;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.submit-btn {
    background-color: #f5f5f5d2;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    height: 80px;
    position: relative;
    left: 25%;
    top: 20px;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.submit-btn:hover {
    background-color: #47ad66;
    color: #ccc;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.cad{
    position: relative;
    margin-top: 15px;
    left: 8%;
}
.cad p{
    color: #5f5c5c;
}
a{
    color: #5a5252;
    position: relative;
    left: 8px;
}
a:hover{
    border-bottom: 1px solid;
}
.q1{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 150px;
    height: 150px;
    background-color: #3d423f;
    border-radius: 20px;
    animation: animation 5s infinite linear;
    position: 11111111;
    filter: blur(4px);
}
.q2{
    position: absolute;
    bottom: 10%;
    right: 30%;
    width: 150px;
    height: 150px;
    background-color: #3d423f;
    border-radius: 20px;
    animation: animation 5s 0.3s infinite linear;
    position: 11111111;
    filter: blur(4px);
}
@keyframes animation{
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}